*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.navbar{
    background-color: #F0BC03;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.brand-name{
    font-weight: bolder;
    margin-left: 20px;
    font-size: 30px;
}

.list-items{
    list-style: none;
    display: flex;
    padding: 5px;
    margin-right: 20px;
    font-size: 20px;
}

.list-items > li{
    padding: 20px 20px 20px 20px;
    font-weight: bold;
}

/* .body-img{
    position: relative;
    float: right;
    top: 100px;

} */

#footer{
    margin-top: auto;
    position: absolute;
    width: 100%;
    /* height: auto; */
    bottom: 0;
    background: #FCDD36;
    /* height: 2.5rem; */
    
}

.social-icons{
    float: right;
    margin-right: 20px;
}

.social-icons img{
    padding: 20px;
}